// Veriables
$smallest-size: 12px;
$smaller-size: 14px;
$z-index-1: 1;
$z-index-50: 50;
$z-index-100: 100;
$transition: all 0.3s;
$dark-gray-color: #afafaf;





nav {
 padding: 5px;
}
nav a{
  color: rgb(217, 217, 189) !important;
  padding: 4px;
}

.form-wrapper{
  width: 1000px !important;
  margin-left: 15%;

}

// Forms
.floating-form {
  position: relative;
  .form-control {
    background: transparent;
    position: relative;
    z-index: $z-index-50;
    &:focus,
    &:active,
    &:valid {
      outline: none !important;
      box-shadow: none !important;
      & + label {
        transform: translateY(-40%);
        top: -2px;
        z-index: $z-index-100;
        font-size: $smallest-size;
      }
    }
  }
  label {
    padding-left:5px;
    padding-right:5px;    
    position: absolute;
    top: 50%;
    /* bootstrap > input > padding size */
    left: 0.75rem;
    z-index: $z-index-1;
    font-size: $smaller-size;
    transform: translateY(-50%);
    transition: $transition;
    background: #fff;
    color: $dark-gray-color;
  }
  textarea + label {
    top: 1.275rem;
  }

}
button{
  border: none;
  outline: none !important;
  padding: 10px;
  width: 20%;
  background-color: #1d0b0b;
  color: white;
  margin-left: 51%;
}
button i{
  font-size: 2em;
  color: rgb(2, 164, 161);
}

.task-lists{
   margin-left:18%;
   border:2px solid #afafaf;
   width:10%;
   padding:6px 6px;
   margin-top: 5px;

}
.task-lists a{
  padding: 6px;
  color: #3073b7 !important;
}

.results a a{
  color: #1d0b0b !important;
}
@media screen and (max-width: 576px) {
  .form-wrapper{
    width: 500px !important;
  }
}
