<section>
    <form class="add-task"  action="{%url 'add-task'%}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Task...">
        <input type="text" name="description" placeholder="Task description...">
        <div class="input-buttons">
            {% comment %} <a href="#" class="add-todo">
                <i class="fas fa-plus add"></i>
            </a> {% endcomment %}
            <input type="submit" value="Add" class="add-todo">
        </div>
    </form>
</section>