<nav class="navbar navbar-expand-lg bg-dark py-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{% url 'home-page' %}">QUERYSET</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home-page' %}">Home</a>
          </li>
        </ul>
        <form class="d-flex" role="search" method="post" action="{%url 'search-site'%}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" name="searched" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success ml-3" type="submit" style="width:100px">Search</button>
        </form>
      </div>
    </div>
  </nav>
  